h1{
    background-color: violet;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.a{
    background-color: purple;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}
#a{
    background-color: pink;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}